<section class="container-fluid">
    <div class="emote-container" fxLayout="column" fxLayoutAlign="center center" fxFill>
        <i class="far fa-frown-open fa-10x animate__rotateInDownLeft animate__animated animate__slow"></i>
        <h1>Sessão expirada!</h1>
        <h5>Faça login novamente para ter acesso ao sistema.</h5>
        <button type="button" class="btn btn-primary" (click)="navigateLogin()">
            Login
            <i class="fas fa-sign-in-alt"></i>
        </button>
    </div>

</section>