<section class="container-fluid">
    <div class="emote-container" fxLayout="column" fxLayoutAlign="center center" fxFill>
        <i class="far fa-sad-cry fa-10x animate__rotateInDownLeft animate__animated animate__slow"></i>
        <h1>Ops! Página não encontrada!</h1>
        <h5>Desculpe, não foi possível encontrar está página.</h5>
        <button type="button" class="btn btn-primary" (click)="navigateHome()">
            Voltar para a home
            <i class="fas fa-home"></i>
        </button>
    </div>
</section>
