<div class="sidenav">
    <div class="login-main-text">
        <h2>Controle de Estoque</h2>
        <p>Realize login para ter acesso.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form>
                <div class="form-group">
                    <label>Usuário</label>
                    <input type="text" class="form-control" placeholder="Usuário">
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" placeholder="Senha">
                </div>
                <button type="submit" class="btn btn-black">Login</button>
            </form>
        </div>
    </div>
</div>