<div class="sidenav">
    <div class="login-main-text d-flex flex-column align-content-center justify-content-center">
        <i class="fas fa-box-open fa-10x"></i>
        <h2>Controle de Estoque</h2>
        <p>Realize login para ter acesso.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form class="d-flex flex-column align-content-center justify-content-center">
                <div class="form-group mb-3 mx-3">
                    <input type="text" class="form-control" placeholder="Usuário">
                </div>
                <div class="form-group mb-3 mx-3">
                    <input type="password" class="form-control" placeholder="Senha">
                </div>
                <button type="submit" class="btn btn-black mx-3">Login</button>
            </form>
        </div>
    </div>
</div>