<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="fas fa-box-open fa-2x"></i>
  </a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div fxLayout="row" fxLayoutAlign="center stretch">

  <section id="sidebarMenu" class="bg-dark sidebar collapse show" fxFlex="20">
    <ul class="fa-ul">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">
          <span class="fa-li">
            <i class="fas fa-home"></i>
          </span>
          <span class="menu-name">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">
          <span class="fa-li">
            <i class="fas fa-dollar-sign"></i>
          </span>
          <span class="menu-name">Caixa</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">
          <span class="fa-li">
            <i class="fas fa-user-friends"></i>
          </span>
          <span class="menu-name">Clientes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">
          <span class="fa-li">
            <i class="far fa-clipboard"></i>
          </span>
          <span class="menu-name">Pedidos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button" fxLayout="row" fxLayoutAlign="space-between stretch">0
          Static
          <span>
            <i class="fas fa-home"></i>
          </span>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <a ngbDropdownItem href="#" >Action</a>
          <a ngbDropdownItem href="#" >Another action</a>
          <a ngbDropdownItem href="#" >Something else here</a>
        </div>
      </li>
    </ul>
  </section>

  <section class="page-content">
    <router-outlet></router-outlet>
  </section>
</div>