<nav *ngIf="showNavBar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand animate__animated animate__bounce" href="#">
        <i class="fas fa-box-open"></i>
    </a>
    <button class="navbar-toggler" type="button" [attr.aria-expanded]="collapsed" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <i class="navbar-icon fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" [class.collapse]="collapsed" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ngbDropdown>
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
                    <span>
                        <i class="fas fa-users"></i>
                    </span>
                    Clientes
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu animate__animated animate__fadeInDown">
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">
                        <span>
                            <i class="fas fa-user-plus"></i>
                        </span>
                        <span class="combo-text">
                            Novo
                        </span>
                    </a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                        <span class="combo-text">
                            Buscar
                        </span>
                    </a>
                </div>
            </li>
            <li class="nav-item" ngbDropdown>
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
                    <span>
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    Produtos
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu animate__animated animate__fadeInDown">
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">
                        <span>
                            <i class="fas fa-cart-plus"></i>
                        </span>
                        <span class="combo-text">
                            Novo
                        </span>
                    </a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                        <span class="combo-text">
                            Buscar
                        </span>
                    </a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">
                        <span>
                            <i class="fas fa-box-open"></i>
                        </span>
                        <span class="combo-text">
                            Estoque
                        </span>
                    </a>
                </div>
            </li>
            <li class="nav-item" ngbDropdown>
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
                    <span>
                        <i class="fas fa-coins"></i>
                    </span>
                    Venda
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu animate__animated animate__fadeInDown">
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">
                        <span>
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="combo-text">
                            Nova
                        </span>
                    </a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                        <span class="combo-text">
                            Buscar
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<section class="container-fluid">
    <router-outlet></router-outlet>
</section>