$white-color: white;
$navbar-distance: 68px;

body {
    font-size: 0.875rem;
    height: 100vh;
}

a.navbar-brand {
    margin-left: 18px;
}

section#sidebarMenu {
    margin-top: $navbar-distance;
}

section.page-content {
    padding: 16px 0 0 16px;
}


ul {

    position: fixed;

    a.nav-link {
        color: $white-color;
    }
}
