$color-dark: #212529;

nav {
    a {
        color: white;
    }

    a.navbar-brand {
        margin-left: 1rem;
    }

    button.navbar-toggler{
        margin-right: 1rem;

    }

    div.navbar-collapse {
        margin: 0 1rem 0 1rem;
    }

    li.nav-item {
        margin: 0 1rem 0 1rem;

        div.dropdown-menu {
            background-color: $color-dark;
            border: none;

            a.dropdown-item {

                span.combo-text {
                    margin-left: 1rem;
                }
            }

            a.dropdown-item:hover, a.dropdown-item:focus {
                color: black;
                background-color: white;
            }
        }
    }

    div.right-navbar-container {
        margin-left: auto;
    }

}